/* Sidebar */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #eaeaea;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.sidebar li {
  margin: 10px 0;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.sidebar li:hover {
  font-weight: bold;
}

.sidebar li.active {
  font-weight: bold;
}

.logout {
  margin-top: auto;
}

.logout button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}