/* Alap styling a roothoz */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

/* LAYOUT */
.layout {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* CONTENT */
.content {
  background: #eaeaea;
  margin: 2rem 2rem 0;
  flex: 1;
  padding: 40px;
  border-radius: 12px;
  overflow-y: auto;
}
