<div class="sidebar">
	<div class="sidebar-start">
		<h2 class="sidebar-title">CAMPUS LIFE</h2>

		<div class="profile-pic">
			<img src="assets/Logo.png" alt="Profile" class="logo-img" />
		</div>
	</div>

    <ul class="nav-menu">
      <li [routerLink]="['/landing']" routerLinkActive="active-link">HOME</li>
      <li [routerLink]="['/profile']" routerLinkActive="active-link">PROFILE</li>
      <li [routerLink]="['/events']" routerLinkActive="active-link">EVENTS</li>
      <li [routerLink]="['/news']" routerLinkActive="active-link">NEWS</li>
	  <!-- uncomment when features added -->
      <!-- 
	  <li [routerLink]="['/calendar']" routerLinkActive="active-link">CALENDAR</li>
      <li [routerLink]="['/settings']" routerLinkActive="active-link">SETTINGS</li>
	   -->
    </ul>

    <div class="sidebar-bottom">
      <button class="icon-btn">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
      </button>
      <button class="logout-btn" (click)="authService.logout()">LOG OUT</button>
    </div>
  </div>
  <div class="sidebar">
  </div>

<nav class="mobile-navbar">
  <div class="logo">CAMPUS LIFE</div>
  
  <button class="hamburger-btn" (click)="toggleMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3 12h18M3 6h18M3 18h18" />
    </svg>
  </button>

  <div class="nav-links" [class.open]="isMenuOpen">
    <a [routerLink]="['/landing']" routerLinkActive="active-link" (click)="closeMenu()">HOME</a>
    <a [routerLink]="['/profile']" routerLinkActive="active-link" (click)="closeMenu()">PROFILE</a>
    <a [routerLink]="['/events']" routerLinkActive="active-link" (click)="closeMenu()">EVENTS</a>
    <a [routerLink]="['/news']" routerLinkActive="active-link" (click)="closeMenu()">NEWS</a>
    <a class="logout-mobile" (click)="authService.logout(); closeMenu()">LOG OUT</a>
  </div>
</nav>