<p-toast></p-toast>

<div class="wrapper">
  <div class="login-hero">
    <h2 class="title">CAMPUS LIFE</h2>
    <p class="sub-title"><i>Where all your events<br>organized in one place</i></p>
    <img ngSrc="assets/Logo.png" alt="logo" width="280" height="280" priority class="hero-logo" />
  </div>

  <div class="login-container">
    <h2 class="form-title">Account recovery</h2>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input pInputText type="email" id="email" placeholder="Enter email" formControlName="email"
          [invalid]="isInvalid('email')" class="custom-input" />
        @if (isInvalid('email')) {
          @if (form.get('email')?.errors?.['required']) {
            <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
          }
          @if (form.get('email')?.errors?.['email']) {
            <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
          }
        }
      </div>

      <div class="auth-link-container center-link">
        <a [routerLink]="['/login']" class="outlined-link">Or Login</a>
      </div>

      <button pButton type="submit" [disabled]="form.invalid" [loading]="isLoading" class="login-btn" style="background: #063274 !important; border-color: #063274 !important; width: 100%; border-radius: 8px;">
        <span pButtonLabel>Send</span>
      </button>
      
    </form>
  </div>
</div>