<p-toast></p-toast>

<div class="wrapper">
  <div class="login-hero">
    <h2 class="title">CAMPUS LIFE</h2>
    <p class="sub-title">Where all you events organised in one place</p>
    <img ngSrc="assets/Logo.png" alt="logo" width="280" height="280" priority />
  </div>

  <div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input pInputText type="email" id="email" placeholder="Email" formControlName="email"
          [invalid]="isInvalid('email')" />
        @if (isInvalid('email')) {
          @if (form.get('email')?.errors?.['required']) {
            <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
          }
          @if (form.get('email')?.errors?.['email']) {
            <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
          }
        }
      </div>

      <div class="form-group">
        <input pInputText type="password" id="password" placeholder="Password" formControlName="password"
          [invalid]="isInvalid('password')" />
        @if (isInvalid('password')) {
          @if (form.get('password')?.errors?.['required']) {
            <p-message severity="error" size="small" variant="simple">Password is required.</p-message>
          }
        }
      </div>

      <div class="auth-link-container">
        <p>Don't have acoount yet? <a [routerLink]="['/registration']" link>Login here</a></p>
        <p><a [routerLink]="['/forgot-password']" link >Forgot password</a></p>
      </div>
      
      <button pButton severity="success" type="submit"><span pButtonLabel>Login</span></button>
    </form>
  </div>
</div>