.event-container {
  width: min(860px, 100%);
  margin: 0 auto;
}

/* FORM */
.form-fields-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-row {
  display: grid;
  grid-template-columns: 240px 1fr; 
  align-items: center;
}

.form-row label {
  font-size: 22px;
  font-weight: 900;
  -webkit-text-stroke: 0.8px black; 
}

.rounded-input {
  background: white !important;
  border: none !important;
  border-radius: 30px !important; 
  padding: 15px 25px !important;
  color: #333 !important;
  font-size: 16px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  outline: none;
}

.interests-row {
  align-items: flex-start;
}

::ng-deep .custom-prime-multiselect {
  padding: 12px;
  border-radius: 30px !important;
  border-width: 2.5px 2.5px 0.5px 2.5px !important;
  background: #002d52 !important;
  display: flex !important;
  align-items: flex-start !important;
}
::ng-deep .custom-prime-multiselect .p-multiselect-label {
  padding: 0 !important;
  flex-wrap: wrap !important;
}
::ng-deep .p-multiselect-chip {
  background: #002d52 !important;
  border: 2px solid white !important;
  color: white !important;
  border-radius: 20px !important;
  padding: 8px 8px 8px 14px !important;
  font-weight: bold !important;
  margin: 0 !important;
}

::ng-deep .p-chip-remove-icon {
color: white !important;
}

.add-interest-icon {
	width: 40px;
	height: 40px;
	/* color: white; */

	&:hover {
		fill: rgba(255, 255, 255, 0.1);
	}
}
