<p-toast></p-toast>

<div class="event-container">

	<form [formGroup]="eventForm">

		<header>
			<a class="button" routerLink="/events">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
				</svg>
			</a>
			<h2>{{ isEditMode ? 'Edit Event' : 'New Event' }}</h2>

			<div class="top-actions">
				@if (isEditMode) {
					<button type="button" class="button delete" [disabled]="isSaving || isLoading" (click)="deleteEvent()">
						Delete
					</button>
					<button class="button" type="button" (click)="saveEvent()"
						[disabled]="isSaving || isLoading || eventForm.invalid">
						@if (isSaving) {
							<span>Saving...</span>
						} @else {
							<span>Save</span>
						}
					</button>
				} @else {
					<button class="button" type="button" (click)="saveEvent()"
						[disabled]="isSaving || isLoading || eventForm.invalid">
						@if (isSaving) {
							<span>Saving...</span>
						} @else {
							<span>Create</span>
						}
					</button>
				}
			</div>
		</header>

		<div class="form-fields-list">
			<div class="form-row">
				<label>Name</label>
				<input class="rounded-input" pInputText formControlName="title" placeholder="Name of the event" />
			</div>

			<div class="form-row">
				<label>Description</label>
				<textarea class="rounded-input" pInputTextarea formControlName="description" placeholder="Add a short description"></textarea>
			</div>

			<div class="form-row">
				<label>Date and Time</label>
				<input class="rounded-input" type="datetime-local" formControlName="date" />
			</div>

			<div class="form-row">
				<label>Place</label>
				<input class="rounded-input" pInputText formControlName="location" />
			</div>

			<div class="form-row">
				<label>Category</label>
				<input class="rounded-input" pInputText formControlName="category" placeholder="academic / social / sports" />
			</div>

			<div class="form-row interests-row">
				<label>Tags</label>
				<p-multiSelect id="interests" [options]="interestOptions" formControlName="interests"
					optionLabel="label" optionValue="value" display="chip" [maxSelectedLabels]="10"
					styleClass="custom-prime-multiselect" fluid>

					<ng-template pTemplate="dropdownicon">
						<svg class="add-interest-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.4" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
						</svg>
					</ng-template>
				</p-multiSelect>
			</div>
		</div>
	</form>
</div>
